# ===== UI =====
# Базовый адрес UI-стенда (для page.goto в UI-тестах)
BASE_URL=https://stage.studwork.dev
# Учетные данные для инфраструктурного входа через Dex (setup-проект)
TEST_USER_EMAIL=
TEST_USER_PASSWORD=

# ===== ОБЩЕЕ (UI + API) =====
# Учетные данные тестового пользователя studwork (позитивный вход в UI и авторизация в API)
STUDWORK_LOGIN=your_login_or_email
STUDWORK_PASSWORD=your_password

# ===== API =====
# Базовый адрес API (другой хост, чем UI!)
API_BASE_URL=https://api.dev.studwork.dev
# Токен recaptcha для авторизации по API (на dev-стенде обычно тестовая заглушка)
STUDWORK_RECAPTCHA=test-captcha
